#content{
	display: flex;
}
#main_content{
	margin-left: 2%;
	width: 100%;
	max-width: 1150px;
	border: 1px solid #aaaaaa;
	height: auto;
}

#main_content .title{
	border-bottom: 1px solid #4dd31d;
	text-align: center;
	padding: 15px ;

}
#main_content .title h2{
	font-weight: bold;
}