html{
	box-sizing: border-box;
}
*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;Æ°

}
.form{
 	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.form form{
	border: 1px solid #3da14f;
	padding: 100px;
	border-radius: 5pt;
	height: 550px;
}
.form .form-group{
	margin-top: 10px;
}
.form label{
	margin-bottom: 10px;
}
.form input[type="submit"]{
	margin-top: 40px;
	padding: 20px 0;
	background-color: #3da14f;
	color: white;
	border-radius: 5pt;
	border-color: #3da14f; 
}
.form input[type="submit"]:hover{
	background-color: #4bc761;
}
.pdgv_h1{
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 2px solid #3da14f;
}
.pdgv_chitiet input{
	width: 500px;
}
.btn_quaylai{
	padding: 20px 80px;
	font-size: 13pt;
	margin-left: 100px;
	margin-bottom: 100px;
	background-color: #3da14f;
	color: white;
	border-radius: 5pt;
	border-color: #3da14f;  
}
.btn_quaylai:hover{
	background-color: #4bc761;
}