*{
	padding: 0;
	margin: 0;
}

/*ul{
	list-style: none;
}*/

a{
	text-decoration: none;
}
body 
{
  font-family:sans-serif; 
  font-size: 10pt;
}

header{
/*	position: fixed;*/
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #65af54;
	padding: 10px 0px;
	background: white;
}

img{
	height: 50px;
}
#content{

	display: flex;
	justify-content: space-evenly;
	height: 400px;
	margin-bottom: 50px;
}
#content .content__thongtin{
	margin-top: 50px;
	text-align: center;
	border-radius: 10pt;
	box-shadow: 2px 2px 2px 2px #aaaaaa;
	padding: 20px 20px;
}
#content .content__thongtin h5 {
	margin-top: 20px;
}

#content .content__thongtin a {
	margin-top: 30px;
	font-size: 13pt;
}
#content .content__soluong{
	margin-top: 50px;
	text-align: center;
	display: flex;
	box-shadow: 2px 2px 2px 2px #aaaaaa;
	padding: 20px 20px;
	border-radius: 10pt;
}
#content .content__soluong--hocvien{
	display: block;
	margin: auto;
}
#content .content__soluong h1{
	font-size: 45pt;
}

#content .content__soluong--khoahoc{
	display: block;
	margin: auto;
	margin-left: 50px;
}

#content .content__sotien{
	margin-top: 50px;
	text-align: center;
	padding: 20px 20px;
	box-shadow: 2px 2px 2px 2px #aaaaaa;
	border-radius: 10pt;
}
#content .content__sotien .content__sotien--vi{
	margin-top: 100px;
}
#content .content__sotien .content__sotien--vi h5{
	margin-bottom: 25px;
}